<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shadi.babycare">

    <!-- adding internet connection permission -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="BabyCare"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/BabyCare">
        <activity
            android:name=".layout_view.MainActivity"
            android:theme="@style/BabyCare">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".layout_view.LoginActivity"
            android:parentActivityName=".layout_view.MainActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".layout_view.MainActivity" />
        </activity>
        <activity
            android:name=".layout_view.Register1Activity"
            android:parentActivityName=".layout_view.MainActivity" />
        <activity android:name=".layout_view.RegistrationOkActivity" />
        <activity android:name=".layout_view.BaseActivity" />
        <activity
            android:name=".layout_view.Register2Activity"
            android:parentActivityName=".layout_view.Register1Activity" />
        <activity
            android:name=".layout_view.Register3Activity"
            android:parentActivityName=".layout_view.Register2Activity" />
        <activity
            android:name=".layout_view.Register4Activity"
            android:parentActivityName=".layout_view.Register3Activity" />
        <activity android:name=".layout_view.MessagesListActivity" />
        <activity android:name=".layout_view.MessageActivity" />
        <activity android:name=".layout_view.MessageFormActivity" />
        <activity
            android:name=".layout_view.PolicyActivity"
            android:parentActivityName=".layout_view.BaseActivity" />
        <activity android:name=".layout_view.ReservationsListActivity" />
        <activity android:name=".layout_view.SearchingActivity" />
        <activity android:name=".layout_view.ReviewListActivity" />
        <activity android:name=".layout_view.ReviewFormActivity" />
        <activity android:name=".layout_view.ReviewActivity" />
        <activity android:name=".layout_view.ParentHomeActivity" />
        <activity android:name=".layout_view.RegistrationKoActivity"></activity>
    </application>

</manifest>